.NavBar {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    background: transparent;
    position: absolute;
    top: 26px;
    right: 50%;
    transform: translateX(50%);
    /* font styling */

}

.nav-right {
    display: flex;
    justify-content: center;
    gap: 40px;
}